
.Menu{
  background-color: #F53434;
  display: -webkit-flex;
  display: block;
  width: 200px;

}

/*
.image-container{
    display: -webkit-flex;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-self: center;
    width: 600px;
    height: 600px;
    align-items: stretch;

  }

.image{
  display: inline-flex;
  width: 450px;
  height:300px;
}


.services-container{
  display: block;
  flex-direction: row;
  width: 600px;
  height: 600px;
}
*/
.image-container{
 width: 450px;
align-items:center;
display:-webkit-flex;
	display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-self: flex-start;
 flex-flow: nowrap;
 flex-wrap: wrap;

}


.services-container{

  width: 850px;
  display: inline-block;
}

.Designers {
  width: 450px;
 align-items:center;
 display:-webkit-flex;
 	display: flex;
flex-direction: row;
   -webkit-flex-direction: row;
}
